.import/
.DS_Store
*.mkv
*.mp4
.godot/*
.plugged/*
.justfile
addons/*
!addons/gd-plug/
!addons/timed_input/

# Godot export directories based on export_presets.cfg
exports/*
!exports/web
exports/web/*
!exports/web/.gdignore
