.import/
.DS_Store
*.import
*.mkv
*.mp4
.godot/*
.plugged/*
.justfile
addons/*
!addons/gd-plug/

# Godot export directories based on export_presets.cfg
exports/*
!exports/linux
exports/linux/*
!exports/linux/.gdignore

!exports/macos
exports/macos/*
!exports/macos/.gdignore

!exports/web
exports/web/*
!exports/web/.gdignore

!exports/windows
exports/windows/*
!exports/windows/.gdignore
